<nav class="navbar navbar-light" style="background-color: cadetblue;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            <i class="fa-brands fa-shopify"></i>
            Ekart
        </span>
        <div>
            <a routerLink="/wish" class="btn btn-outline-dark me-3">
                <i class="fa-regular fa-heart" style="color: #ad0065;"></i>
                WishList
            </a>
            <a routerLink="/cart" class="btn btn-outline-dark me-3">
                <i class="fa-solid fa-cart-shopping"></i>
                Cart
            </a>
            <a routerLink="/log" class="btn btn-outline-dark me-3">
                <i class="fa-regular fa-user"></i>
                Login
            </a>
        </div>
    </div>
</nav>