<nav class="navbar navbar-light" style="background-color: cadetblue;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            <i class="fa-brands fa-shopify"></i>
            Ekart
        </span>
        <div>
            <a routerLink="/wish" class="btn btn-outline-dark me-3">
                <i class="fa-regular fa-heart" style="color: #ad0065;"></i>
                WishList
            </a>
            <a routerLink="/cart" class="btn btn-outline-dark me-3">
                <i class="fa-solid fa-cart-shopping"></i>
                Cart
            </a>
            <a routerLink="/log" class="btn btn-outline-dark me-3" *ngIf="!loginStatus">
                <i class="fa-regular fa-user"></i>
                Login
            </a>
            <span *ngIf="loginStatus">
                <i class="fa-solid fa-user"></i>
                {{user}}
                <button class="btn btn-danger">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Logout
                </button>
            </span>

        </div>
    </div>
</nav>