<div class="container">
    <h3>Wishlist</h3>
    <div class="row mt-5 gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5" *ngFor="let i of wishitems">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src={{i.image}} routerLink="/detail/{{i.id}}" height="200px" style="cursor: pointer;" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{i.title.slice(0,15)}}...</h5>
                        <!-- Product price-->
                        {{i.price|currency}}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex justify-content-between">
                    <button class="btn" ><i class="fa-solid fa-cart-plus"></i></button>
                    <button class="btn" (click)="deleteWishlist(i._id)"><i class="fa-solid fa-heart-circle-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>