<div class="w-100 d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="row w-50 border shadow bg-light">
        <div class="col">
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/login-to-online-account-7812462-6255718.png" class="img-fluid" alt="login img">
        </div>
        <div class="col p-3 d-flex flex-column align-items-center justify-content-center">
            <h4>Register</h4>
            <form>
                <input type="text" class="form-control mb-3" placeholder="Enter Your Username" name="username">
                <input type="email" class="form-control mb-3" placeholder="Enter Your Email Id" name="email">
                <input type="password" class="form-control mb-3" placeholder="Enter Your Password" name="pswd">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-info">Register</button>
                    <a class="btn btn-link" routerLink="/log">Existing User?</a>
                </div>
            </form>
        </div>
    </div>
</div>